<!DOCTYPE HTML>
<html>

<head>
  <title>melonJS</title>
  <meta name="description" content="melonJS homepage" />
  <meta name="keywords" content="melonJS, HTML5, javascript, game, engine, framework" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='spaceinvader/index.css')}}" title="style" />
</head>

<body>
    <div id="screen"></div>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/lib/melonJS-2.1.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename="spaceinvader/lib/plugins/debugPanel.js")}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/game.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/resources.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/screens/play.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/enemy.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/laser.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/player.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='spaceinvader/js/enemy_manager.js')}}"></script>

    <script type="text/javascript">
        /* Bootstrap */
        window.onReady(function onReady() {
            game.onload();
        });
    </script>
</body>
</html>
